body, html {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}

.navBar {
  background-color: pink;
  height: 50px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    margin: 6px;
    color: white;
  }

  a:hover {
    transform: scale(1.1);
    text-decoration: none;
  }
}

img {
  height: auto;
  width: 100%;
}

.posts {
  border-radius: 5px;
  overflow: hidden;
  margin: 7px;
  padding: 0px;
  width: 35%;
  display: flex;
  flex-flow: column wrap;
  border: solid rgb(134, 125, 125);
  border-width: 1px;
  text-decoration: none;
  box-shadow: 5px, 5px, gray;

  a {
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
  }

  p {
    font-size: .8rem;
    color: gray;
    margin: 0;
  }

  h1 {
    font-size: 1.2rem;
  }

  .top {
    padding: 3px;
  }
}

.post, .editing {
  width: 100vw;
  height: 100vw;
  background-image: linear-gradient(rgb(152, 218, 212), rgb(30, 228, 182));
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 3px;
  }

  .editors {
    display: flex;
    flex-direction: row;
  }

  button {
    background-color: white;
    color: rgb(152, 218, 212);
    border-color: white;
    margin: 4px;
  }

  textarea {
    width: 40%;
    margin: 1%;
    background-color: white;
    border-width: 0;
  }
}

.newPost {
  width: 100vw;
  height: 100vw;
  background-image: linear-gradient(rgb(152, 218, 212), rgb(30, 228, 182));
  display: flex;
  flex-direction: column;
  align-items: center;

  textarea {
    width: 40%;
    margin: 1%;
    background-color: white;
    border-width: 0;
  }

  #content {
    height: 30%;
    text-align: start;
  }

  button {
    background-color: white;
    color: rgb(152, 218, 212);
    border-color: white;
  }
}
